.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  margin: auto;
}

.objectDeteciton{
  position: relative;
  margin: auto;
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.container{
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}